In [1]:
#Jupyter notebook for the generation of the data for the project seguroporhoy. Created by Javier Epeloa 15/04/2020
#Mapplics

In [177]:

import pandas as pd
data = pd.read_excel("seguroporhoy.xlsx", sheet_name="infoauto") #upload the file
filtro=pd.read_excel("Filtrados_info.xlsx")
data=data[~data['Código'].isin(filtro['Code'])]

In [178]:
data.describe() #head the data to see if was propely upload

,Código,2020,2019,2018,2017,2016,2015,2014,2013,2012,...,1996,1995,1994,1993,1992,1991,Motor,Pesot,Veloc,Poten
count,7.205000e+03,7205.000000,7205.000000,7205.000000,7205.000000,7205.000000,7205.000000,7205.000000,7205.000000,7205.000000,...,7205.000000,7205.000000,7205.000000,7205.000000,7205.000000,7205.000000,7205.000000,7205.000000,7205.000000,7205.000000
mean,2.385127e+05,239.502984,265.201804,212.214434,176.204858,176.374323,149.979181,137.719084,147.028869,131.616516,...,34.859542,32.679112,29.528105,28.847189,20.511867,15.121443,2.016183,1267.201249,174.997779,131.010409
std,1.831216e+05,1215.996711,1155.335199,922.305822,782.716654,798.021826,745.167799,676.035113,647.482020,597.250964,...,178.374831,175.449835,171.136167,176.101738,116.566964,105.964194,0.976052,496.712900,56.384042,77.975311
min,1.000100e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.204150e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.600000,1065.000000,160.000000,87.000000
50%,1.806350e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.900000,1260.000000,181.000000,115.000000
75%,3.201700e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.300000,1520.000000,205.000000,163.000000
max,1.240008e+06,23027.000000,24500.000000,22500.000000,19500.000000,17400.000000,16900.000000,16400.000000,15900.000000,15400.000000,...,9400.000000,9300.000000,9200.000000,9100.000000,3000.000000,2950.000000,13.800000,6950.000000,330.000000,639.000000

In [179]:
def models(x):
    x = x.split(' ')[0]  #create a function to extract from the models data the first word separeted by a space
    return x

In [180]:
def models_specification(x):
    x = " ".join(x.split()[1:-1])
    if x=="":
        x="-"
    return(x)

In [181]:
data_agrupada=data
data_agrupada['mod_abreviados']=data_agrupada['Modelo'].apply(models) #generate the pandas column "mod abreviados" with th information of the models
data_agrupada['Modelo']=data_agrupada['Modelo'].apply(models_specification)

In [182]:
data_agrupada=data.groupby(['Marca','Modelo','mod_abreviados']).sum().reset_index() #here group the data to obtain the sum of the values of the year with the objetive of filter bellow
data_agrupada=data_agrupada.drop('Código', 1)

In [183]:
data_agrupada.head(10000) #head the data

,Marca,Modelo,mod_abreviados,2020,2019,2018,2017,2016,2015,2014,...,1996,1995,1994,1993,1992,1991,Motor,Pesot,Veloc,Poten
0,ACURA,-,INTEGRA,0,0,0,0,0,0,0,...,169,167,165,163,161,0,1.8,1150,210,180
1,ACURA,-,LEGEND,0,0,0,0,0,0,0,...,228,226,224,222,220,218,3.2,1635,220,205
2,ACURA,-,NSX,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3.0,0,0,0
3,ACURA,L,LEGEND,0,0,0,0,0,0,0,...,243,241,239,237,235,233,3.2,1545,226,205
4,ACURA,LS,INTEGRA,0,0,0,0,0,0,0,...,164,162,160,158,156,0,1.8,1230,210,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5455,VOLVO,COUPE,240,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,1210,155,135
5456,VOLVO,GLD,245,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,1450,167,112
5457,VOLVO,GLE,265,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2.7,1780,170,125
5458,VOLVO,GLE,740,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,1450,195,170
5459,VOLVO,GLT,242,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0,0,0

In [184]:
tabla=data_agrupada.melt(id_vars=["Marca", "Modelo","mod_abreviados"], 
        value_vars=[2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991]
                        )   #in this line the data is transformed to put the yers from columns to rows

In [185]:
validos=tabla[tabla['value']>0]  #filter the data that are not zero

In [186]:
validos.head()

         Marca              Modelo mod_abreviados variable  value
25  ALFA ROMEO  1.4 DISTINCT 170CV      GIULIETTA     2020   2381
28  ALFA ROMEO      1.4 SPRINT 120      GIULIETTA     2020   1877
29  ALFA ROMEO               1.4 T           MITO     2020   1850
52  ALFA ROMEO   1.8T VELOCE 240cv      GIULIETTA     2020   2961
85  ALFA ROMEO      2.0T 200HP AWD        STELVIO     2020   4080

In [187]:
validos_agrupados=validos.groupby(['Marca','mod_abreviados','variable']).Modelo.apply(lambda x: ','.join(map(str, x))).reset_index()
validos_agrupados.head() #group the models, separate the data by,','

   Marca mod_abreviados  variable         Modelo
0  ACURA        INTEGRA      1992  -,LS,RS,RS SM
1  ACURA        INTEGRA      1993  -,LS,RS,RS SM
2  ACURA        INTEGRA      1994  -,LS,RS,RS SM
3  ACURA        INTEGRA      1995  -,LS,RS,RS SM
4  ACURA        INTEGRA      1996  -,LS,RS,RS SM

In [188]:
validos_agrupados=validos_agrupados.groupby(['Marca','Modelo','mod_abreviados']).variable.apply(lambda x: ','.join(map(str, x))).reset_index()
validos_agrupados.head() #group the years, separate the data by ','

,Marca,Modelo,mod_abreviados,variable
0,ACURA,"-,L,LS",LEGEND,"1991,1992,1993,1994,1995,1996,1997"
1,ACURA,"-,LS,RS,RS SM",INTEGRA,"1992,1993,1994,1995,1996,1997"
2,ALFA ROMEO,-,145,"1994,1995"
3,ALFA ROMEO,-,SPIDER,"1991,1992,1993,1994,1995"
4,ALFA ROMEO,-,ZAGATO,"1993,1994"

In [189]:
validos_agrupados.columns = ['Marca', 'Modelos', 'mod_abreviados', 'Años_disponibles'] #change the names of the columns

In [190]:
validos_agrupados.head()

,Marca,Modelos,mod_abreviados,Años_disponibles
0,ACURA,"-,L,LS",LEGEND,"1991,1992,1993,1994,1995,1996,1997"
1,ACURA,"-,LS,RS,RS SM",INTEGRA,"1992,1993,1994,1995,1996,1997"
2,ALFA ROMEO,-,145,"1994,1995"
3,ALFA ROMEO,-,SPIDER,"1991,1992,1993,1994,1995"
4,ALFA ROMEO,-,ZAGATO,"1993,1994"

In [191]:
validos_agrupados=validos_agrupados.groupby(['Marca'], as_index = False).agg({'Modelos': (lambda x: ','.join(map(str, x))), 'mod_abreviados': (lambda x: ','.join(map(str, x))),'Años_disponibles': (lambda x: ','.join(map(str, x)))})
validos_agrupados.head() #finally group only the Marca tag, concatenated the Marca, Modelo and mod_abreviado separated by ','

,Marca,Modelos,mod_abreviados,Años_disponibles
0,ACURA,"-,L,LS,-,LS,RS,RS SM","LEGEND,INTEGRA","1991,1992,1993,1994,1995,1996,1997,1992,1993,1..."
1,ALFA ROMEO,"-,-,-,-,1.4,1.7,1.7 SPORT,1.7 SPORT WAGON,-,1....","145,SPIDER,ZAGATO,33,33,33,145,SPIDER,MITO,MIT...","1994,1995,1991,1992,1993,1994,1995,1993,1994,1..."
2,ARO,"-,ID,PICK-UP,PICK-UP,TD,TD 2.5","243,SPARTANA,320,324,244,246","1994,1995,1996,1997,1998,1999,2000,2001,2002,1..."
3,ASIA,"DX DH,DX DH T/DURO,GT-HT T/DURO,GT-ST,STD",ROCSTA,"1992,1993,1994,1995,1996"
4,AUDI,"-,1.8,1.8 AVANT,1.8 T.,1.8 T. AVANT,1.8 T. AVA...","A4,A4,A4,A4,A6,A6,A6,A6,CABRIOLET,,Q2,A1,A1,A1...","1999,2000,1997,1998,2001,1994,1995,1996,1999,2..."

In [192]:
def duplicates(x):
    x = ','.join(set(x.split(',')))
    return x    #create a funtion to delete the duplicates in the lists of the columns

In [193]:
validos_agrupados['Años_disponibles']=validos_agrupados['Años_disponibles'].apply(duplicates)
validos_agrupados['mod_abreviados']=validos_agrupados['mod_abreviados'].apply(duplicates)
validos_agrupados['Modelos']=validos_agrupados['Modelos'].apply(duplicates)
validos_agrupados['Suma']=0
validos_agrupados.head()    #apply the duplicates funtion on the columns "Años disponible", "mod_Abreviados", "Modelos"

,Marca,Modelos,mod_abreviados,Años_disponibles,Suma
0,ACURA,"L,-,RS SM,LS,RS","LEGEND,INTEGRA","1991,1994,1996,1993,1992,1995,1997",0
1,ALFA ROMEO,"2.0 TS 3 PTAS,1.8,1.4 DISTINCT,1.9 JTDM 5 PTAS...","159,164,166,146,GIULIETTA,ZAGATO,MITO,STELVIO,...","2015,2007,2006,2010,2003,2018,1999,1994,2020,2...",0
2,ARO,"ID,PICK-UP,-,TD,TD 2.5","SPARTANA,244,246,320,243,324","2002,1998,1999,1994,2001,2000,1996,1995,1997",0
3,ASIA,"GT-ST,DX DH T/DURO,DX DH,GT-HT T/DURO,STD",ROCSTA,"1994,1996,1995,1993,1992",0
4,AUDI,"2.0T FSI 3 PTAS,SEDAN 1.8T,1.8T 180 HP 3 P,2.0...",",S3,100,A4,S5,Q2,RS4,RS6,S7,SQ5,A7,ALLROAD,RS3...","2015,2007,2006,2010,2003,2018,1999,1994,2020,2...",0

In [194]:
matriz_propiedad_excel = pd.DataFrame()   #definition of the final propiety table
matriz_propiedad_excel['Código Info']=0
matriz_propiedad_excel['Type']='variable'
matriz_propiedad_excel['SKU']=0
matriz_propiedad_excel['Name']=validos_agrupados['Marca']
matriz_propiedad_excel['Categories']='30 garage,7 garage'  
matriz_propiedad_excel['Parent']=0
matriz_propiedad_excel['Attribute 1 name']='anio'
matriz_propiedad_excel['Attribute 1 value(s)']=validos_agrupados['Años_disponibles']
matriz_propiedad_excel['Attribute 2 name']='Modelo'
matriz_propiedad_excel['Attribute 2 value(s)']=validos_agrupados['mod_abreviados']
matriz_propiedad_excel['Attribute 3 name']='Versión'
matriz_propiedad_excel['Attribute 3 value(s)']=validos_agrupados['Modelos']
matriz_propiedad_excel['Attribute 4 name']='Cobertura'
matriz_propiedad_excel['Attribute 4 value(s)']='7 días Robo e Incendio en Garage,30 días Robo e Incendio en Garage'
matriz_propiedad_excel['Regular price']=0
matriz_propiedad_excel['Sale price']=0
matriz_propiedad_excel['In stock?']=1
matriz_propiedad_excel['Published']=1
matriz_propiedad_excel['Visibility in catalog']='visible'
matriz_propiedad_excel['Suma']=0
matriz_propiedad_excel.head()

,Código Info,Type,SKU,Name,Categories,Parent,Attribute 1 name,Attribute 1 value(s),Attribute 2 name,Attribute 2 value(s),Attribute 3 name,Attribute 3 value(s),Attribute 4 name,Attribute 4 value(s),Regular price,Sale price,In stock?,Published,Visibility in catalog,Suma
0,NaN,NaN,NaN,ACURA,"30 garage,7 garage",0,anio,"1991,1994,1996,1993,1992,1995,1997",Modelo,"LEGEND,INTEGRA",Versión,"L,-,RS SM,LS,RS",Cobertura,"7 días Robo e Incendio en Garage,30 días Robo ...",0,0,1,1,visible,0
1,NaN,NaN,NaN,ALFA ROMEO,"30 garage,7 garage",0,anio,"2015,2007,2006,2010,2003,2018,1999,1994,2020,2...",Modelo,"159,164,166,146,GIULIETTA,ZAGATO,MITO,STELVIO,...",Versión,"2.0 TS 3 PTAS,1.8,1.4 DISTINCT,1.9 JTDM 5 PTAS...",Cobertura,"7 días Robo e Incendio en Garage,30 días Robo ...",0,0,1,1,visible,0
2,NaN,NaN,NaN,ARO,"30 garage,7 garage",0,anio,"2002,1998,1999,1994,2001,2000,1996,1995,1997",Modelo,"SPARTANA,244,246,320,243,324",Versión,"ID,PICK-UP,-,TD,TD 2.5",Cobertura,"7 días Robo e Incendio en Garage,30 días Robo ...",0,0,1,1,visible,0
3,NaN,NaN,NaN,ASIA,"30 garage,7 garage",0,anio,"1994,1996,1995,1993,1992",Modelo,ROCSTA,Versión,"GT-ST,DX DH T/DURO,DX DH,GT-HT T/DURO,STD",Cobertura,"7 días Robo e Incendio en Garage,30 días Robo ...",0,0,1,1,visible,0
4,NaN,NaN,NaN,AUDI,"30 garage,7 garage",0,anio,"2015,2007,2006,2010,2003,2018,1999,1994,2020,2...",Modelo,",S3,100,A4,S5,Q2,RS4,RS6,S7,SQ5,A7,ALLROAD,RS3...",Versión,"2.0T FSI 3 PTAS,SEDAN 1.8T,1.8T 180 HP 3 P,2.0...",Cobertura,"7 días Robo e Incendio en Garage,30 días Robo ...",0,0,1,1,visible,0

In [195]:
matriz_propiedad_excel['SKU']=matriz_propiedad_excel.index+100 #generate a definition of the SKU that start after 100
matriz_propiedad_excel['Type']='variable'
matriz_propiedad_excel['Código Info']=130
matriz_propiedad_excel.head()

,Código Info,Type,SKU,Name,Categories,Parent,Attribute 1 name,Attribute 1 value(s),Attribute 2 name,Attribute 2 value(s),Attribute 3 name,Attribute 3 value(s),Attribute 4 name,Attribute 4 value(s),Regular price,Sale price,In stock?,Published,Visibility in catalog,Suma
0,130,variable,100,ACURA,"30 garage,7 garage",0,anio,"1991,1994,1996,1993,1992,1995,1997",Modelo,"LEGEND,INTEGRA",Versión,"L,-,RS SM,LS,RS",Cobertura,"7 días Robo e Incendio en Garage,30 días Robo ...",0,0,1,1,visible,0
1,130,variable,101,ALFA ROMEO,"30 garage,7 garage",0,anio,"2015,2007,2006,2010,2003,2018,1999,1994,2020,2...",Modelo,"159,164,166,146,GIULIETTA,ZAGATO,MITO,STELVIO,...",Versión,"2.0 TS 3 PTAS,1.8,1.4 DISTINCT,1.9 JTDM 5 PTAS...",Cobertura,"7 días Robo e Incendio en Garage,30 días Robo ...",0,0,1,1,visible,0
2,130,variable,102,ARO,"30 garage,7 garage",0,anio,"2002,1998,1999,1994,2001,2000,1996,1995,1997",Modelo,"SPARTANA,244,246,320,243,324",Versión,"ID,PICK-UP,-,TD,TD 2.5",Cobertura,"7 días Robo e Incendio en Garage,30 días Robo ...",0,0,1,1,visible,0
3,130,variable,103,ASIA,"30 garage,7 garage",0,anio,"1994,1996,1995,1993,1992",Modelo,ROCSTA,Versión,"GT-ST,DX DH T/DURO,DX DH,GT-HT T/DURO,STD",Cobertura,"7 días Robo e Incendio en Garage,30 días Robo ...",0,0,1,1,visible,0
4,130,variable,104,AUDI,"30 garage,7 garage",0,anio,"2015,2007,2006,2010,2003,2018,1999,1994,2020,2...",Modelo,",S3,100,A4,S5,Q2,RS4,RS6,S7,SQ5,A7,ALLROAD,RS3...",Versión,"2.0T FSI 3 PTAS,SEDAN 1.8T,1.8T 180 HP 3 P,2.0...",Cobertura,"7 días Robo e Incendio en Garage,30 días Robo ...",0,0,1,1,visible,0

In [196]:
##Esta sitabla=data_agrupada.melt(id_vars=["Marca", "Modelo"], 
data_agrupada_=data.groupby(['Código','Marca','Modelo']).sum().reset_index()
matriz_costo=data_agrupada_.melt(id_vars=["Código", "Marca", "Modelo"], 
        value_vars=[2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991]
                        )

In [197]:
matriz_costo.head()

   Código  Marca Modelo variable  value
0   10001  ACURA     LS     2020      0
1   10002  ACURA  RS SM     2020      0
2   10003  ACURA     RS     2020      0
3   10004  ACURA      -     2020      0
4   10005  ACURA      -     2020      0

In [198]:
matriz_costo=matriz_costo[matriz_costo['value']>0]

In [199]:
matriz_costo.head()

     Código       Marca              Modelo variable  value
126   30123  ALFA ROMEO  1.4 DISTINCT 170CV     2020   2381
139   30136  ALFA ROMEO      1.4 SPRINT 120     2020   1877
140   30137  ALFA ROMEO   1.8T VELOCE 240cv     2020   2961
141   30138  ALFA ROMEO               1.4 T     2020   1850
143   30140  ALFA ROMEO      2.0T 280HP AWD     2020   5733

In [200]:
matriz_costo.columns = ['Código', 'Marca','Modelo','Años_Disponibles','Suma']
##Aca armo la matriz con el valor final de lo que va a ir
matriz_costo_excel = pd.DataFrame()
matriz_costo_excel['Código Info']=matriz_costo['Código']
matriz_costo_excel['Type']='variation'
matriz_costo_excel['SKU']=matriz_costo['Código'].map(str) + "-" + matriz_costo['Años_Disponibles'].map(str)+ "-30"
matriz_costo_excel['Name']=matriz_costo['Marca']
matriz_costo_excel['Categories']='30 garage'
matriz_costo_excel['Parent']=130
matriz_costo_excel['Attribute 1 name']='anio'
matriz_costo_excel['Attribute 1 value(s)']=matriz_costo['Años_Disponibles'].astype(str)
matriz_costo_excel['Attribute 2 name']='Modelo'
matriz_costo_excel['Attribute 2 value(s)']=matriz_costo['Modelo'].apply(models)
matriz_costo_excel['Attribute 3 name']='Versión'
matriz_costo_excel['Attribute 3 value(s)']=matriz_costo['Modelo'].apply(models_specification)
matriz_costo_excel['Attribute 4 name']='Cobertura'
matriz_costo_excel['Attribute 4 value(s)']='30 días Robo e Incendio en Garage'
matriz_costo_excel['Regular price']=0
matriz_costo_excel['Sale price']=0
matriz_costo_excel['In stock?']=1
matriz_costo_excel['Published']=1
matriz_costo_excel['Visibility in catalog']='visible'
matriz_costo_excel['Suma']=matriz_costo['Suma']

In [201]:
matriz_costo_excel.head()

,Código Info,Type,SKU,Name,Categories,Parent,Attribute 1 name,Attribute 1 value(s),Attribute 2 name,Attribute 2 value(s),Attribute 3 name,Attribute 3 value(s),Attribute 4 name,Attribute 4 value(s),Regular price,Sale price,In stock?,Published,Visibility in catalog,Suma
126,30123,variation,30123-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,1.4,Versión,DISTINCT,Cobertura,30 días Robo e Incendio en Garage,0,0,1,1,visible,2381
139,30136,variation,30136-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,1.4,Versión,SPRINT,Cobertura,30 días Robo e Incendio en Garage,0,0,1,1,visible,1877
140,30137,variation,30137-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,1.8T,Versión,VELOCE,Cobertura,30 días Robo e Incendio en Garage,0,0,1,1,visible,2961
141,30138,variation,30138-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,1.4,Versión,-,Cobertura,30 días Robo e Incendio en Garage,0,0,1,1,visible,1850
143,30140,variation,30140-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,2.0T,Versión,280HP,Cobertura,30 días Robo e Incendio en Garage,0,0,1,1,visible,5733

In [202]:
matriz_costo_excel1 = pd.DataFrame()
matriz_costo_excel1['Código Info']=matriz_costo['Código']
matriz_costo_excel1['Type']='variation'
matriz_costo_excel1['SKU']=matriz_costo['Código'].map(str) + "-" + matriz_costo['Años_Disponibles'].map(str)+ "-7"
matriz_costo_excel1['Name']=matriz_costo['Marca']
matriz_costo_excel1['Categories']='7 garage'
matriz_costo_excel1['Parent']=130
matriz_costo_excel1['Attribute 1 name']='anio'
matriz_costo_excel1['Attribute 1 value(s)']=matriz_costo['Años_Disponibles'].astype(str)
matriz_costo_excel1['Attribute 2 name']='Modelo'
matriz_costo_excel1['Attribute 2 value(s)']=matriz_costo['Modelo'].apply(models)
matriz_costo_excel1['Attribute 3 name']='Versión'
matriz_costo_excel1['Attribute 3 value(s)']=matriz_costo['Modelo'].apply(models_specification)
matriz_costo_excel['Attribute 4 name']='Cobertura'
matriz_costo_excel['Attribute 4 value(s)']='7 días Robo e Incendio en Garage'
matriz_costo_excel1['Regular price']=0
matriz_costo_excel1['Sale price']=0
matriz_costo_excel1['In stock?']=1
matriz_costo_excel1['Published']=1
matriz_costo_excel1['Visibility in catalog']='visible'
matriz_costo_excel1['Suma']=matriz_costo['Suma']

In [203]:
matriz_costo_excel1.head()

,Código Info,Type,SKU,Name,Categories,Parent,Attribute 1 name,Attribute 1 value(s),Attribute 2 name,Attribute 2 value(s),Attribute 3 name,Attribute 3 value(s),Regular price,Sale price,In stock?,Published,Visibility in catalog,Suma
126,30123,variation,30123-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,1.4,Versión,DISTINCT,0,0,1,1,visible,2381
139,30136,variation,30136-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,1.4,Versión,SPRINT,0,0,1,1,visible,1877
140,30137,variation,30137-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,1.8T,Versión,VELOCE,0,0,1,1,visible,2961
141,30138,variation,30138-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,1.4,Versión,-,0,0,1,1,visible,1850
143,30140,variation,30140-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,2.0T,Versión,280HP,0,0,1,1,visible,5733

In [204]:
frames = [matriz_costo_excel, matriz_costo_excel1]
final_costo=pd.concat(frames).sort_index().reset_index(drop=True)
#final_costo.sort_values('Name')
final_costo.head(30)

,Código Info,Type,SKU,Name,Categories,Parent,Attribute 1 name,Attribute 1 value(s),Attribute 2 name,Attribute 2 value(s),Attribute 3 name,Attribute 3 value(s),Attribute 4 name,Attribute 4 value(s),Regular price,Sale price,In stock?,Published,Visibility in catalog,Suma
0,30123,variation,30123-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,1.4,Versión,DISTINCT,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,2381
1,30123,variation,30123-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,1.4,Versión,DISTINCT,NaN,NaN,0,0,1,1,visible,2381
2,30136,variation,30136-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,1.4,Versión,SPRINT,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,1877
3,30136,variation,30136-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,1.4,Versión,SPRINT,NaN,NaN,0,0,1,1,visible,1877
4,30137,variation,30137-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,1.8T,Versión,VELOCE,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,2961
5,30137,variation,30137-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,1.8T,Versión,VELOCE,NaN,NaN,0,0,1,1,visible,2961
6,30138,variation,30138-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,1.4,Versión,-,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,1850
7,30138,variation,30138-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,1.4,Versión,-,NaN,NaN,0,0,1,1,visible,1850
8,30140,variation,30140-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,2.0T,Versión,280HP,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,5733
9,30140,variation,30140-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,2.0T,Versión,280HP,NaN,NaN,0,0,1,1,visible,5733
10,30141,variation,30141-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,2.0T,Versión,200HP,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,4080
11,30141,variation,30141-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,2.0T,Versión,200HP,NaN,NaN,0,0,1,1,visible,4080
12,30142,variation,30142-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,2.9T,Versión,510HP,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,13860
13,30142,variation,30142-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,2.9T,Versión,510HP,NaN,NaN,0,0,1,1,visible,13860
14,30143,variation,30143-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,2.0T,Versión,200HP,NaN,NaN,0,0,1,1,visible,4347
15,30143,variation,30143-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,2.0T,Versión,200HP,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,4347
16,30144,variation,30144-2020-7,ALFA ROMEO,7 garage,130,anio,2020,Modelo,2.0T,Versión,280HP,NaN,NaN,0,0,1,1,visible,5229
17,30144,variation,30144-2020-30,ALFA ROMEO,30 garage,130,anio,2020,Modelo,2.0T,Versión,280HP,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,5229
18,60464,variation,60464-2020-7,AUDI,7 garage,130,anio,2020,Modelo,ALLROAD,Versión,3.0 T,NaN,NaN,0,0,1,1,visible,8442
19,60464,variation,60464-2020-30,AUDI,30 garage,130,anio,2020,Modelo,ALLROAD,Versión,3.0 T,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,8442
20,60485,variation,60485-2020-7,AUDI,7 garage,130,anio,2020,Modelo,2.0,Versión,T L/16,NaN,NaN,0,0,1,1,visible,3780
21,60485,variation,60485-2020-30,AUDI,30 garage,130,anio,2020,Modelo,2.0,Versión,T L/16,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,3780
22,60501,variation,60501-2020-30,AUDI,30 garage,130,anio,2020,Modelo,SPORTBACK,Versión,1.4T,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,2766
23,60501,variation,60501-2020-7,AUDI,7 garage,130,anio,2020,Modelo,SPORTBACK,Versión,1.4T,NaN,NaN,0,0,1,1,visible,2766
24,60505,variation,60505-2020-30,AUDI,30 garage,130,anio,2020,Modelo,SEDAN,Versión,1.4T,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,2785
25,60505,variation,60505-2020-7,AUDI,7 garage,130,anio,2020,Modelo,SEDAN,Versión,1.4T,NaN,NaN,0,0,1,1,visible,2785
26,60512,variation,60512-2020-30,AUDI,30 garage,130,anio,2020,Modelo,2.0,Versión,T QUATTRO S,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,5348
27,60512,variation,60512-2020-7,AUDI,7 garage,130,anio,2020,Modelo,2.0,Versión,T QUATTRO S,NaN,NaN,0,0,1,1,visible,5348
28,60513,variation,60513-2020-30,AUDI,30 garage,130,anio,2020,Modelo,2.0,Versión,T S,Cobertura,7 días Robo e Incendio en Garage,0,0,1,1,visible,4278
29,60513,variation,60513-2020-7,AUDI,7 garage,130,anio,2020,Modelo,2.0,Versión,T S,NaN,NaN,0,0,1,1,visible,4278

In [205]:
matriz_propiedad_excel.to_excel("upload.xlsx",index=False,
             sheet_name='EXP')

In [ ]:
from openpyxl import load_workbook
# new dataframe with same columns
writer = pd.ExcelWriter('upload.xlsx', engine='openpyxl')
# try to open an existing workbookpload
writer.book = load_workbook('upload.xlsx')
# copy existing sheets
writer.sheets = dict((ws.title, ws) for ws in writer.book.worksheets)
# read existing file
reader = pd.read_excel('upload.xlsx')
# write out the new sheet
final_costo.to_excel(writer,index=False,header=False,startrow=len(reader)+1,sheet_name='EXP')
writer.close()