In [ ]:
#Jupyter notebook for the generation of the data for the project seguroporhoy. Created by Javier Epeloa 15/04/2020
#Mapplics

In [161]:

import pandas as pd
data = pd.read_excel("seguroporhoy.xlsx", sheet_name="infoauto") #upload the file

In [162]:
data.head(100) #head the data to see if was propely upload

,CÃ³digo,Marca,Modelo,Impor,2020,2019,2018,2017,2016,2015,...,Carga,Pesot,Veloc,Poten,Direc,Airea,Tracc,CajaV,Frabs,Airba
0,10001,ACURA,INTEGRA LS SM,SI,0,0,0,0,0,0,...,N,1230,210,142,ASI,SI,DEL,MAN,NO,NO
1,10003,ACURA,INTEGRA RS SM,SI,0,0,0,0,0,0,...,N,1230,180,142,ASI,SI,DEL,MAN,NO,NO
2,10002,ACURA,INTEGRA RS SM COUPE,SI,0,0,0,0,0,0,...,N,1170,175,142,ASI,SI,DEL,MAN,NO,NO
3,10004,ACURA,INTEGRA SE,SI,0,0,0,0,0,0,...,N,1150,210,180,ASI,SI,DEL,MAN,NO,NO
4,10005,ACURA,LEGEND GS,SI,0,0,0,0,0,0,...,N,1635,220,205,ASI,SI,DEL,MAN,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,30061,ALFA ROMEO,156 2.0 TS TC CU,SI,0,0,0,0,0,0,...,N,1250,216,155,ASI,SI,DEL,MAN,SI,SI
96,30062,ALFA ROMEO,156 2.0 TS TC CU KIT SPORT,SI,0,0,0,0,0,0,...,N,1250,216,155,ASI,SI,DEL,MAN,SI,SI
97,30088,ALFA ROMEO,156 2.0 TS FASE III CU.,SI,0,0,0,0,0,0,...,N,1305,216,155,ASI,SI,DEL,MAN,SI,SI
98,30089,ALFA ROMEO,156 2.0 TS FASE III CU. SELESPEED,SI,0,0,0,0,0,0,...,N,1305,216,155,ASI,SI,DEL,AUT,SI,SI
99,30063,ALFA ROMEO,156 2.4 JTD,SI,0,0,0,0,0,0,...,N,1350,206,135,ASI,SI,DEL,MAN,NO,SI

In [163]:
def models(x):
    x = x.split(' ')[0]  #create a function to extract from the models data the first word separeted by a space
    return x

In [164]:
data_agrupada=data
data_agrupada['mod_abreviados']=data_agrupada['Modelo'].apply(models) #generate the pandas column "mod abreviados" with th information of the models

In [165]:
data_agrupada=data.groupby(['Marca','Modelo','mod_abreviados']).sum().reset_index() #here group the data to obtain the sum of the values of the year with the objetive of filter bellow
data_agrupada=data_agrupada.drop('CÃ³digo', 1)

In [166]:
data_agrupada.head(10000) #head the data

,Marca,Modelo,mod_abreviados,2020,2019,2018,2017,2016,2015,2014,...,1996,1995,1994,1993,1992,1991,Motor,Pesot,Veloc,Poten
0,ACURA,INTEGRA LS SM,INTEGRA,0,0,0,0,0,0,0,...,164,162,160,158,156,0,1.8,1230,210,142
1,ACURA,INTEGRA RS SM,INTEGRA,0,0,0,0,0,0,0,...,166,164,162,160,158,0,1.8,1230,180,142
2,ACURA,INTEGRA RS SM COUPE,INTEGRA,0,0,0,0,0,0,0,...,178,176,174,172,170,0,1.8,1170,175,142
3,ACURA,INTEGRA SE,INTEGRA,0,0,0,0,0,0,0,...,169,167,165,163,161,0,1.8,1150,210,180
4,ACURA,LEGEND GS,LEGEND,0,0,0,0,0,0,0,...,228,226,224,222,220,218,3.2,1635,220,205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,VOLKSWAGEN,FOX 1.6 CROSSFOX HIGHLINE CU L/10,FOX,0,0,0,0,0,459,442,...,0,0,0,0,0,0,1.6,1130,173,101
9996,VOLKSWAGEN,FOX 1.6 CROSSFOX PACK,FOX,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1.6,1129,168,98
9997,VOLKSWAGEN,FOX 1.6 CROSSFOX TRENDLINE,FOX,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1.6,1129,168,98
9998,VOLKSWAGEN,FOX 1.6 CROSSFOX TRENDLINE L/10,FOX,0,0,0,0,0,445,428,...,0,0,0,0,0,0,1.6,1130,173,101
9999,VOLKSWAGEN,FOX 1.6 CROSSFOX TRENDLINE FA,FOX,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1.6,1129,168,98

In [167]:
tabla=data_agrupada.melt(id_vars=["Marca", "Modelo","mod_abreviados"], 
        value_vars=[2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991]
                        )   #in this line the data is transformed to put the yers from columns to rows

In [168]:
validos=tabla[tabla['value']>0]  #filter the data that are not zero

In [169]:
validos.head()

     Marca       Modelo mod_abreviados variable  value
13  AGRALE  14000 S 4x2          14000     2020   3983
14  AGRALE  14000 S 6x2          14000     2020   4405
26  AGRALE       8700 S           8700     2020   2070
29  AGRALE      A 10000              A     2020   3081
30  AGRALE       A 7500              A     2020   2701

In [170]:
validos_agrupados=validos.groupby(['Marca','mod_abreviados','variable']).Modelo.apply(lambda x: ','.join(map(str, x))).reset_index()
validos_agrupados.head() #group the models, separate the data by,','

,Marca,mod_abreviados,variable,Modelo
0,ACURA,INTEGRA,1992,"INTEGRA LS SM,INTEGRA RS SM,INTEGRA RS SM COUP..."
1,ACURA,INTEGRA,1993,"INTEGRA LS SM,INTEGRA RS SM,INTEGRA RS SM COUP..."
2,ACURA,INTEGRA,1994,"INTEGRA LS SM,INTEGRA RS SM,INTEGRA RS SM COUP..."
3,ACURA,INTEGRA,1995,"INTEGRA LS SM,INTEGRA RS SM,INTEGRA RS SM COUP..."
4,ACURA,INTEGRA,1996,"INTEGRA LS SM,INTEGRA RS SM,INTEGRA RS SM COUP..."

In [171]:
validos_agrupados=validos_agrupados.groupby(['Marca','Modelo','mod_abreviados']).variable.apply(lambda x: ','.join(map(str, x))).reset_index()
validos_agrupados.head() #group the years, separate the data by ','

,Marca,Modelo,mod_abreviados,variable
0,ACURA,"INTEGRA LS SM,INTEGRA RS SM,INTEGRA RS SM COUP...",INTEGRA,"1992,1993,1994,1995,1996,1997"
1,ACURA,"LEGEND GS,LEGEND L COUPE,LEGEND LS COUPE",LEGEND,"1991,1992,1993,1994,1995,1996,1997"
2,AEOLUS,"EQ 1061 G8 D2 (DONG FENG),EQ 1061 T (DON...",EQ,1999
3,AEOLUS,"EQ 1061 G8 D2 (DONG FENG),EQ 1061 T (DON...",EQ,"2000,2001"
4,AEOLUS,EQ 1061 T (DONG FENG),EQ,1998

In [172]:
validos_agrupados.columns = ['Marca', 'Modelos', 'mod_abreviados', 'AÃ±os_disponibles'] #change the names of the columns

In [142]:
validos_agrupados.head()

,Marca,Modelos,mod_abreviados,AÃ±os_disponibles
0,ACURA,"INTEGRA LS SM,INTEGRA RS SM,INTEGRA RS SM COUP...",INTEGRA,"1992,1993,1994,1995,1996,1997"
1,ACURA,"LEGEND GS,LEGEND L COUPE,LEGEND LS COUPE",LEGEND,"1991,1992,1993,1994,1995,1996,1997"
2,AEOLUS,"EQ 1061 G8 D2 (DONG FENG),EQ 1061 T (DON...",EQ,1999
3,AEOLUS,"EQ 1061 G8 D2 (DONG FENG),EQ 1061 T (DON...",EQ,"2000,2001"
4,AEOLUS,EQ 1061 T (DONG FENG),EQ,1998

In [173]:
validos_agrupados=validos_agrupados.groupby(['Marca'], as_index = False).agg({'Modelos': (lambda x: ','.join(map(str, x))), 'mod_abreviados': (lambda x: ','.join(map(str, x))),'AÃ±os_disponibles': (lambda x: ','.join(map(str, x)))})
validos_agrupados.head() #finally group only the Marca tag, concatenated the Marca, Modelo and mod_abreviado separated by ','

,Marca,Modelos,mod_abreviados,AÃ±os_disponibles
0,ACURA,"INTEGRA LS SM,INTEGRA RS SM,INTEGRA RS SM COUP...","INTEGRA,LEGEND","1992,1993,1994,1995,1996,1997,1991,1992,1993,1..."
1,AEOLUS,"EQ 1061 G8 D2 (DONG FENG),EQ 1061 T (DON...","EQ,EQ,EQ,EQ","1999,2000,2001,1998,2002"
2,AGRALE,"10000 S,13000 TCA,14000 S 4x2,14000 S 6x2,600...","10000,13000,14000,6000,6000,6000,6000,7500,750...","2016,2017,2018,2008,2009,2010,2011,2012,2013,2..."
3,ALEKO,"2141,2141 FULL,2141 D,2141 D FULL,2335 D PIC...","2141,2335","1993,1994,1995,1996,1997,1993,1994,1995,1996,1997"
4,ALFA ROMEO,"145 1.4,145 1.6,145 1.7,145 1.8 TS,145 1.8 TS ...","145,145,145,145,145,145,146,146,146,146,147,14...","1996,1997,1995,1994,2000,2001,2002,1999,1998,2..."

In [174]:
def duplicates(x):
    x = ','.join(set(x.split(',')))
    return x    #create a funtion to delete the duplicates in the lists of the columns

In [175]:
validos_agrupados['AÃ±os_disponibles']=validos_agrupados['AÃ±os_disponibles'].apply(duplicates)
validos_agrupados['mod_abreviados']=validos_agrupados['mod_abreviados'].apply(duplicates)
validos_agrupados['Modelos']=validos_agrupados['Modelos'].apply(duplicates)
validos_agrupados['Suma']=0
validos_agrupados.head()    #apply the duplicates funtion on the columns "AÃ±os disponible", "mod_Abreviados", "Modelos"

,Marca,Modelos,mod_abreviados,AÃ±os_disponibles,Suma
0,ACURA,"LEGEND LS COUPE,INTEGRA RS SM COUPE,INTEGRA S...","INTEGRA,LEGEND","1992,1996,1993,1994,1991,1997,1995",0
1,AEOLUS,"EQ 1061 G8 D2 (DONG FENG),EQ 1061 T5D (DON...",EQ,"2002,1999,2001,2000,1998",0
2,AGRALE,"STALLION 15-160 CHASIS CORTO,MARRUA AM100,1400...","7500,10000,STALLION,STARK,14000,A,9200,13000,8...","2002,2008,2020,2014,2000,1995,2007,1999,2001,2...",0
3,ALEKO,"2141 D FULL,2141 FULL,2141 D,2335 D PICK UP,...","2335,2141","1996,1993,1994,1997,1995",0
4,ALFA ROMEO,"156 2.0 TS TC CU KIT SPORT,33 1.7 8V,STELVIO...","GIULIETTA,GT,MITO,STELVIO,BRERA,GIULIA,ZAGATO,...","2002,2020,1992,2014,2000,1995,2007,2017,1999,2...",0

In [176]:
matriz_propiedad_excel = pd.DataFrame()   #definition of the final propiety table
matriz_propiedad_excel['CÃ³digo Info']=0
matriz_propiedad_excel['Type']='variable'
matriz_propiedad_excel['SKU']=0
matriz_propiedad_excel['Name']=validos_agrupados['Marca']
matriz_propiedad_excel['Categories']='30 garage,70 garage'  
matriz_propiedad_excel['Parent']=0
matriz_propiedad_excel['Attribute 1 name']='anio'
matriz_propiedad_excel['Attribute 1 value(s)']=validos_agrupados['AÃ±os_disponibles']
matriz_propiedad_excel['Attribute 2 name']='Modelo'
matriz_propiedad_excel['Attribute 2 value(s)']=validos_agrupados['mod_abreviados']
matriz_propiedad_excel['Attribute 3 name']='VersiÃ³n'
matriz_propiedad_excel['Attribute 3 value(s)']=validos_agrupados['Modelos']
matriz_propiedad_excel['Regular price']=0
matriz_propiedad_excel['Sale price']=0
matriz_propiedad_excel['In stock?']=1
matriz_propiedad_excel['Published']=1
matriz_propiedad_excel['Visibility in catalog']='visible'
matriz_propiedad_excel['Suma']=0
matriz_propiedad_excel.head()

,CÃ³digo Info,Type,SKU,Name,Categories,Parent,Attribute 1 name,Attribute 1 value(s),Attribute 2 name,Attribute 2 value(s),Attribute 3 name,Attribute 3 value(s),Regular price,Sale price,In stock?,Published,Visibility in catalog,Suma
0,NaN,NaN,NaN,ACURA,"30 garage,70 garage",0,anio,"1992,1996,1993,1994,1991,1997,1995",Modelo,"INTEGRA,LEGEND",VersiÃ³n,"LEGEND LS COUPE,INTEGRA RS SM COUPE,INTEGRA S...",0,0,1,1,visible,0
1,NaN,NaN,NaN,AEOLUS,"30 garage,70 garage",0,anio,"2002,1999,2001,2000,1998",Modelo,EQ,VersiÃ³n,"EQ 1061 G8 D2 (DONG FENG),EQ 1061 T5D (DON...",0,0,1,1,visible,0
2,NaN,NaN,NaN,AGRALE,"30 garage,70 garage",0,anio,"2002,2008,2020,2014,2000,1995,2007,1999,2001,2...",Modelo,"7500,10000,STALLION,STARK,14000,A,9200,13000,8...",VersiÃ³n,"STALLION 15-160 CHASIS CORTO,MARRUA AM100,1400...",0,0,1,1,visible,0
3,NaN,NaN,NaN,ALEKO,"30 garage,70 garage",0,anio,"1996,1993,1994,1997,1995",Modelo,"2335,2141",VersiÃ³n,"2141 D FULL,2141 FULL,2141 D,2335 D PICK UP,...",0,0,1,1,visible,0
4,NaN,NaN,NaN,ALFA ROMEO,"30 garage,70 garage",0,anio,"2002,2020,1992,2014,2000,1995,2007,2017,1999,2...",Modelo,"GIULIETTA,GT,MITO,STELVIO,BRERA,GIULIA,ZAGATO,...",VersiÃ³n,"156 2.0 TS TC CU KIT SPORT,33 1.7 8V,STELVIO...",0,0,1,1,visible,0

In [177]:
matriz_propiedad_excel['SKU']=matriz_propiedad_excel.index+100 #generate a definition of the SKU that start after 100
matriz_propiedad_excel['Type']='variable'
matriz_propiedad_excel.head()

,CÃ³digo Info,Type,SKU,Name,Categories,Parent,Attribute 1 name,Attribute 1 value(s),Attribute 2 name,Attribute 2 value(s),Attribute 3 name,Attribute 3 value(s),Regular price,Sale price,In stock?,Published,Visibility in catalog,Suma
0,NaN,variable,100,ACURA,"30 garage,70 garage",0,anio,"1992,1996,1993,1994,1991,1997,1995",Modelo,"INTEGRA,LEGEND",VersiÃ³n,"LEGEND LS COUPE,INTEGRA RS SM COUPE,INTEGRA S...",0,0,1,1,visible,0
1,NaN,variable,101,AEOLUS,"30 garage,70 garage",0,anio,"2002,1999,2001,2000,1998",Modelo,EQ,VersiÃ³n,"EQ 1061 G8 D2 (DONG FENG),EQ 1061 T5D (DON...",0,0,1,1,visible,0
2,NaN,variable,102,AGRALE,"30 garage,70 garage",0,anio,"2002,2008,2020,2014,2000,1995,2007,1999,2001,2...",Modelo,"7500,10000,STALLION,STARK,14000,A,9200,13000,8...",VersiÃ³n,"STALLION 15-160 CHASIS CORTO,MARRUA AM100,1400...",0,0,1,1,visible,0
3,NaN,variable,103,ALEKO,"30 garage,70 garage",0,anio,"1996,1993,1994,1997,1995",Modelo,"2335,2141",VersiÃ³n,"2141 D FULL,2141 FULL,2141 D,2335 D PICK UP,...",0,0,1,1,visible,0
4,NaN,variable,104,ALFA ROMEO,"30 garage,70 garage",0,anio,"2002,2020,1992,2014,2000,1995,2007,2017,1999,2...",Modelo,"GIULIETTA,GT,MITO,STELVIO,BRERA,GIULIA,ZAGATO,...",VersiÃ³n,"156 2.0 TS TC CU KIT SPORT,33 1.7 8V,STELVIO...",0,0,1,1,visible,0

In [178]:
##Esta sitabla=data_agrupada.melt(id_vars=["Marca", "Modelo"], 
data_agrupada_=data.groupby(['CÃ³digo','Marca','Modelo']).sum().reset_index()
matriz_costo=data_agrupada_.melt(id_vars=["CÃ³digo", "Marca", "Modelo"], 
        value_vars=[2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000,1999,1998,1997,1996,1995,1994,1993,1992,1991]
                        )

In [179]:
matriz_costo.head()

   CÃ³digo  Marca               Modelo variable  value
0   10001  ACURA        INTEGRA LS SM     2020      0
1   10002  ACURA  INTEGRA RS SM COUPE     2020      0
2   10003  ACURA        INTEGRA RS SM     2020      0
3   10004  ACURA           INTEGRA SE     2020      0
4   10005  ACURA           LEGEND  GS     2020      0

In [180]:
matriz_costo=matriz_costo[matriz_costo['value']>0]

In [181]:
matriz_costo.head()

     CÃ³digo       Marca                           Modelo variable  value
131   30123  ALFA ROMEO  GIULIETTA 1.4 DISTINCT 170CV TC     2020   2381
144   30136  ALFA ROMEO      GIULIETTA 1.4 SPRINT 120 CV     2020   1877
145   30137  ALFA ROMEO  GIULIETTA 1.8T VELOCE 240cv AUT     2020   2961
146   30138  ALFA ROMEO              MITO 1.4 T   VELOCE     2020   1850
148   30140  ALFA ROMEO        STELVIO 2.0T 280HP AWD AT     2020   5733

In [182]:
matriz_costo.columns = ['CÃ³digo', 'Marca','Modelo','AÃ±os_Disponibles','Suma']
##Aca armo la matriz con el valor final de lo que va a ir
matriz_costo_excel = pd.DataFrame()
matriz_costo_excel['CÃ³digo Info']=matriz_costo['CÃ³digo']
matriz_costo_excel['Type']='variation'
matriz_costo_excel['SKU']=matriz_costo['CÃ³digo'].map(str) + "-" + matriz_costo['AÃ±os_Disponibles'].map(str)
matriz_costo_excel['Name']=matriz_costo['Marca']
matriz_costo_excel['Categories']='30 garage'
matriz_costo_excel['Parent']=130
matriz_costo_excel['Attribute 1 name']='anio'
matriz_costo_excel['Attribute 1 value(s)']=matriz_costo['AÃ±os_Disponibles'].astype(str)
matriz_costo_excel['Attribute 2 name']='Modelo'
matriz_costo_excel['Attribute 2 value(s)']=matriz_costo['Modelo'].apply(models)
matriz_costo_excel['Attribute 3 name']='VersiÃ³n'
matriz_costo_excel['Attribute 3 value(s)']=matriz_costo['Modelo']
matriz_costo_excel['Regular price']=0
matriz_costo_excel['Sale price']=0
matriz_costo_excel['In stock?']=1
matriz_costo_excel['Published']=1
matriz_costo_excel['Visibility in catalog']='visible'
matriz_costo_excel['Suma']=matriz_costo['Suma']

In [183]:
matriz_costo_excel.head()

,CÃ³digo Info,Type,SKU,Name,Categories,Parent,Attribute 1 name,Attribute 1 value(s),Attribute 2 name,Attribute 2 value(s),Attribute 3 name,Attribute 3 value(s),Regular price,Sale price,In stock?,Published,Visibility in catalog,Suma
131,30123,variation,30123-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,GIULIETTA,VersiÃ³n,GIULIETTA 1.4 DISTINCT 170CV TC,0,0,1,1,visible,2381
144,30136,variation,30136-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,GIULIETTA,VersiÃ³n,GIULIETTA 1.4 SPRINT 120 CV,0,0,1,1,visible,1877
145,30137,variation,30137-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,GIULIETTA,VersiÃ³n,GIULIETTA 1.8T VELOCE 240cv AUT,0,0,1,1,visible,2961
146,30138,variation,30138-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,MITO,VersiÃ³n,MITO 1.4 T VELOCE,0,0,1,1,visible,1850
148,30140,variation,30140-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,STELVIO,VersiÃ³n,STELVIO 2.0T 280HP AWD AT,0,0,1,1,visible,5733

In [184]:
matriz_costo_excel1 = pd.DataFrame()
matriz_costo_excel1['CÃ³digo Info']=matriz_costo['CÃ³digo']
matriz_costo_excel1['Type']='variation'
matriz_costo_excel1['SKU']=matriz_costo['CÃ³digo'].map(str) + "-" + matriz_costo['AÃ±os_Disponibles'].map(str)
matriz_costo_excel1['Name']=matriz_costo['Marca']
matriz_costo_excel1['Categories']='70 garage'
matriz_costo_excel1['Parent']=130
matriz_costo_excel1['Attribute 1 name']='anio'
matriz_costo_excel1['Attribute 1 value(s)']=matriz_costo['AÃ±os_Disponibles'].astype(str)
matriz_costo_excel1['Attribute 2 name']='Modelo'
matriz_costo_excel1['Attribute 2 value(s)']=matriz_costo['Modelo'].apply(models)
matriz_costo_excel1['Attribute 3 name']='VersiÃ³n'
matriz_costo_excel1['Attribute 3 value(s)']=matriz_costo['Modelo']
matriz_costo_excel1['Regular price']=0
matriz_costo_excel1['Sale price']=0
matriz_costo_excel1['In stock?']=1
matriz_costo_excel1['Published']=1
matriz_costo_excel1['Visibility in catalog']='visible'
matriz_costo_excel1['Suma']=matriz_costo['Suma']

In [185]:
matriz_costo_excel1.head()

,CÃ³digo Info,Type,SKU,Name,Categories,Parent,Attribute 1 name,Attribute 1 value(s),Attribute 2 name,Attribute 2 value(s),Attribute 3 name,Attribute 3 value(s),Regular price,Sale price,In stock?,Published,Visibility in catalog,Suma
131,30123,variation,30123-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,GIULIETTA,VersiÃ³n,GIULIETTA 1.4 DISTINCT 170CV TC,0,0,1,1,visible,2381
144,30136,variation,30136-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,GIULIETTA,VersiÃ³n,GIULIETTA 1.4 SPRINT 120 CV,0,0,1,1,visible,1877
145,30137,variation,30137-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,GIULIETTA,VersiÃ³n,GIULIETTA 1.8T VELOCE 240cv AUT,0,0,1,1,visible,2961
146,30138,variation,30138-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,MITO,VersiÃ³n,MITO 1.4 T VELOCE,0,0,1,1,visible,1850
148,30140,variation,30140-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,STELVIO,VersiÃ³n,STELVIO 2.0T 280HP AWD AT,0,0,1,1,visible,5733

In [186]:
frames = [matriz_costo_excel, matriz_costo_excel1]
final_costo=pd.concat(frames).sort_index().reset_index(drop=True)
#final_costo.sort_values('Name')
final_costo.head(30)

,CÃ³digo Info,Type,SKU,Name,Categories,Parent,Attribute 1 name,Attribute 1 value(s),Attribute 2 name,Attribute 2 value(s),Attribute 3 name,Attribute 3 value(s),Regular price,Sale price,In stock?,Published,Visibility in catalog,Suma
0,30123,variation,30123-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,GIULIETTA,VersiÃ³n,GIULIETTA 1.4 DISTINCT 170CV TC,0,0,1,1,visible,2381
1,30123,variation,30123-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,GIULIETTA,VersiÃ³n,GIULIETTA 1.4 DISTINCT 170CV TC,0,0,1,1,visible,2381
2,30136,variation,30136-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,GIULIETTA,VersiÃ³n,GIULIETTA 1.4 SPRINT 120 CV,0,0,1,1,visible,1877
3,30136,variation,30136-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,GIULIETTA,VersiÃ³n,GIULIETTA 1.4 SPRINT 120 CV,0,0,1,1,visible,1877
4,30137,variation,30137-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,GIULIETTA,VersiÃ³n,GIULIETTA 1.8T VELOCE 240cv AUT,0,0,1,1,visible,2961
5,30137,variation,30137-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,GIULIETTA,VersiÃ³n,GIULIETTA 1.8T VELOCE 240cv AUT,0,0,1,1,visible,2961
6,30138,variation,30138-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,MITO,VersiÃ³n,MITO 1.4 T VELOCE,0,0,1,1,visible,1850
7,30138,variation,30138-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,MITO,VersiÃ³n,MITO 1.4 T VELOCE,0,0,1,1,visible,1850
8,30140,variation,30140-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,STELVIO,VersiÃ³n,STELVIO 2.0T 280HP AWD AT,0,0,1,1,visible,5733
9,30140,variation,30140-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,STELVIO,VersiÃ³n,STELVIO 2.0T 280HP AWD AT,0,0,1,1,visible,5733
10,30141,variation,30141-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,STELVIO,VersiÃ³n,STELVIO 2.0T 200HP AWD AT,0,0,1,1,visible,4080
11,30141,variation,30141-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,STELVIO,VersiÃ³n,STELVIO 2.0T 200HP AWD AT,0,0,1,1,visible,4080
12,30142,variation,30142-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,GIULIA,VersiÃ³n,GIULIA 2.9T 510HP AWD AT,0,0,1,1,visible,13860
13,30142,variation,30142-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,GIULIA,VersiÃ³n,GIULIA 2.9T 510HP AWD AT,0,0,1,1,visible,13860
14,30143,variation,30143-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,GIULIA,VersiÃ³n,GIULIA 2.0T 200HP RWD AT,0,0,1,1,visible,4347
15,30143,variation,30143-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,GIULIA,VersiÃ³n,GIULIA 2.0T 200HP RWD AT,0,0,1,1,visible,4347
16,30144,variation,30144-2020,ALFA ROMEO,70 garage,130,anio,2020,Modelo,GIULIA,VersiÃ³n,GIULIA 2.0T 280HP AWD AT,0,0,1,1,visible,5229
17,30144,variation,30144-2020,ALFA ROMEO,30 garage,130,anio,2020,Modelo,GIULIA,VersiÃ³n,GIULIA 2.0T 280HP AWD AT,0,0,1,1,visible,5229
18,60464,variation,60464-2020,AUDI,70 garage,130,anio,2020,Modelo,A6,VersiÃ³n,A6 ALLROAD 3.0 T QUATTRO STRONIC,0,0,1,1,visible,8442
19,60464,variation,60464-2020,AUDI,30 garage,130,anio,2020,Modelo,A6,VersiÃ³n,A6 ALLROAD 3.0 T QUATTRO STRONIC,0,0,1,1,visible,8442
20,60485,variation,60485-2020,AUDI,70 garage,130,anio,2020,Modelo,A4,VersiÃ³n,A4 2.0 T L/16 190HP S-TRONIC,0,0,1,1,visible,3780
21,60485,variation,60485-2020,AUDI,30 garage,130,anio,2020,Modelo,A4,VersiÃ³n,A4 2.0 T L/16 190HP S-TRONIC,0,0,1,1,visible,3780
22,60501,variation,60501-2020,AUDI,70 garage,130,anio,2020,Modelo,A3,VersiÃ³n,A3 SPORTBACK 1.4T L/17 STRO,0,0,1,1,visible,2766
23,60501,variation,60501-2020,AUDI,30 garage,130,anio,2020,Modelo,A3,VersiÃ³n,A3 SPORTBACK 1.4T L/17 STRO,0,0,1,1,visible,2766
24,60505,variation,60505-2020,AUDI,30 garage,130,anio,2020,Modelo,A3,VersiÃ³n,A3 SEDAN 1.4T L/17 S-TRONIC,0,0,1,1,visible,2785
25,60505,variation,60505-2020,AUDI,70 garage,130,anio,2020,Modelo,A3,VersiÃ³n,A3 SEDAN 1.4T L/17 S-TRONIC,0,0,1,1,visible,2785
26,60512,variation,60512-2020,AUDI,30 garage,130,anio,2020,Modelo,A5,VersiÃ³n,A5 2.0 T QUATTRO S TRONIC L/17,0,0,1,1,visible,5348
27,60512,variation,60512-2020,AUDI,70 garage,130,anio,2020,Modelo,A5,VersiÃ³n,A5 2.0 T QUATTRO S TRONIC L/17,0,0,1,1,visible,5348
28,60513,variation,60513-2020,AUDI,30 garage,130,anio,2020,Modelo,A5,VersiÃ³n,A5 2.0 T S TRONIC L/17,0,0,1,1,visible,4278
29,60513,variation,60513-2020,AUDI,70 garage,130,anio,2020,Modelo,A5,VersiÃ³n,A5 2.0 T S TRONIC L/17,0,0,1,1,visible,4278

In [187]:
matriz_propiedad_excel.to_excel("upload.xlsx",index=False,
             sheet_name='EXP')

In [188]:
from openpyxl import load_workbook
# new dataframe with same columns
writer = pd.ExcelWriter('upload.xlsx', engine='openpyxl')
# try to open an existing workbookpload
writer.book = load_workbook('upload.xlsx')
# copy existing sheets
writer.sheets = dict((ws.title, ws) for ws in writer.book.worksheets)
# read existing file
reader = pd.read_excel('upload.xlsx')
# write out the new sheet
final_costo.to_excel(writer,index=False,header=False,startrow=len(reader)+1,sheet_name='EXP')
writer.close()